@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    position: relative;
    font-family:'Poppins', sans-serif;
  }

  @media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
}